body {
    background: #E8E8E8;
}

#options {
    margin: auto;
    width: 750px;
    /* height: 300px; */
    padding-top: 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    #border: 1px solid #FFFFFF;
}

#container {
    background: #FFFFFF;
    margin: auto;
    width: 680px;
    /* height: 275px; */
    padding: 20px 0px 20px 0px;
    font-family: helvetica, arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#customcontainer {
    background: #FFFFFF;
    margin: auto;
    width: 680px;
    /* height: 275px; */
    padding: 20px 0px 20px 0px;
    font-family: helvetica, arial, sans-serif;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#buttoncontainer {
    background: #FFFFFF;
    margin: auto;
    width: 680px;
    /* height: 275px; */
    padding: 0px 0px 10px 0px;
    font-family: helvetica, arial, sans-serif;
    /* border-radius: 5px; */
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1 {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#339900), to(#145d01));
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: 0;
    position: relative;
    width: 75%;
    font-size: 2em;

    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;

    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

h2 {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
    background: -webkit-gradient(linear, left top, left bottom, from(#339900), to(#145d01));
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: 0;
    position: relative;
    width: 90%;
    font-size: 1em;

    -moz-box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;

    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

label {
    font: bold 12px/30px helvetica, arial, sans-serif;
}

span {
    font: 12px/30px helvetica, arial, sans-serif;
}

span.push-right {
    margin: 0px 0px 0px 75px;
}

span.push-button-right {
    margin: 0px 0px 0px 440px;
}

legend {
    text-align: left;
    background: -webkit-linear-gradient(90deg, #333333, #AAAAAA) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #333333, #AAAAAA) repeat scroll 0 0 transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px #FFFFFF;
    -moz-box-shadow: 0 0 15px #FFFFFF;
    box-shadow: 0 0 15px #FFFFFF;
    padding: 10px 45px 10px 20px;
    margin: 0px 0px 10px 0px;
    font-size: 1.8em;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.arrow {
    width: 0; height: 0;
    line-height: 0;
    border-left: 20px solid transparent;
    border-top: 10px solid #145d01;
    top: 104%;
    left: 0;
    position: absolute;
}

ul {
    width: 85%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    /* padding:0px; */
}
li{
    padding:7px;
    border-bottom:1px solid #eee;
    position:relative;
}

textarea {
    padding:8px;
    height: 98px;
    width:550px;
}

button {
    margin-left:156px;
}

/* form element visual styles */
input, textarea {
    border:1px solid #aaa;
    /* box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; */
    border-radius:2px;
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding: 5px 10px;
    margin: 10px 0px 0px 10px;
}

input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover .providedby {
    color: #808080;
    text-decoration: none;
}

a:active .providedby {
    color: #808080;
    text-decoration: none;
}

a:visited .providedby {
    color: #808080;
    text-decoration: none;
}

a:link .providedby {
    color: #808080;
    text-decoration: none;
}

.testbutton {
    font-family: georgia;
    color: #050505 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #DBCDCD;
    box-shadow: 1px 1px 1px #F9F9F9;
    padding: 5px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #FCF2F2;
}
.testbutton:hover {
    color: #14396A;
    background: #C2C2C2;
}

/*The save button*/

.myButton {
    background: -webkit-linear-gradient(90deg, #333333, #AAAAAA) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #333333, #AAAAAA) repeat scroll 0 0 transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px #FFFFFF;
    -moz-box-shadow: 0 0 15px #FFFFFF;
    box-shadow: 0 0 15px #FFFFFF;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 10px 0px;
    font-size: 1.8em;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
    text-decoration: none;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #808080), color-stop(1, #808080));
    background:-moz-linear-gradient(top, #808080 5%, #808080 100%);
    background:-webkit-linear-gradient(top,#808080 5%, #808080 100%);
    background:-o-linear-gradient(top, #808080 5%, #808080 100%);
    background:-ms-linear-gradient(top, #808080 5%, #808080 100%);
    background:linear-gradient(to bottom, #808080 5%, ##808080 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    text-decoration: none;
    background-color:#808080;
}

.myButton:active {
    position:relative;
    top:1px;
    text-decoration: none;
}